
.wrapper{
	body{
		font-family : Pantone-Regular;
	}
	h1{
		color : white; 
		text-shadow: 0 0 6px rgba(21,34,46, 0.9);
	}
	h3{
		color: $orange;
		text-shadow: 0 0 3px rgba(21,34,46, 0.9);
	}
	background-image : url(../images/wrapper.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	i{
		color: white; 
		font-size: 70px;
		text-shadow: 0 0 8px rgba(21,34,46, 1);
	}
	img{
		width: 668px; 
	}

}

@media screen and (max-width: 768px) {
	  
	  .wrapper{
	  	img {
	  		width:100%;
	  		}
	  }
	 
		
}



.titlezone {
	margin-left : 50px; 
	margin-right: 50px;
}


#kicker {
	h2 {
		color: rgba(21,34,46, 1);
		font-size: 25px; 
	}
	i{
		color : $orange;
		font-size : 40px;

	}
	p{
		color: white; 
	}

}


#product {
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(21,34,46, 0.9);

	
	h2{
		color: $orange;
	}
	h3, h4{
		color: white; 
	}
	p{
		color: $orange; 
	}
	li {
		color: white;
	}
	img {
		width: 600px;
	}
	i{
		color: white; 
		font-size: 40px;
	}

}

@media screen and (max-width: 768px) {
	  
	  #product{
	  	img {
	  		width:100%;
	  		}
	  }
	 
		
}


.pop {
	visibility: hidden;
}

#candidat {
	background-image : url(../images/crowd.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2{
		color: $orange; 
		text-shadow: 0 0 6px rgba(54,53,55,1);
	}

}

#presentation{
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(21,34,46, 0.9);

	h2{
		color: $orange;
	}
	h3, h4{
		color: white; 
	}
}


#client {
	width: 100%;
	img{
		height: 70px;
		margin: 0 auto;
	}
}


#comclever {
	background-image : url(../images/interview.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2 {
		color : $orange;
		text-shadow: 0 0 2px rgba(27,35,45,0.7);
	}
	.round {
		border-radius : 64px;
		border-style: solid;
	    border-width: 1px;
	    border-color: rgba(27,35,45,1);
	    box-shadow: 4px 4px 4px rgba(27,35,45,0.7);
	}
	.round:hover {
		border-color: $orange;
		border-width:2px;
	}

	.figure {
		color: white; 
		text-shadow: 0 0 2px rgba(27,35,45,0.7);
		padding-bottom : 6em;

	}	
	h3{
		color: white; 
		text-shadow: 0 0 2px rgba(27,35,45,0.7);
	}
}

a {
	text-decoration : none;
}
