---
title: TalentView| Crédits
---

<div class="big-padding">
	<h1>Crédits</h1>
	
	<p>Les site Talentview.fr est développé par  <%= link_to "Make It Famous", "http://www.makeitfamous.fr"%>.</p>
</div>