---
title: TalentView|Tunnel de recrutement
---

<!-- Wrapper -->

<div class="wrapper padded">
	<div class="text-center">
		<h1 class="top"></h1>
	</div>
	<div class="text-center padded">
		<i class="fa fa-angle-down"></i>
	</div>
</div>